{% extends "users/base.html" %}
{% block content %}
<style>
    .form-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }

    .container {
        width: 100%;
        max-width: 70%;
        margin: 0 auto;
        padding: 1rem;
    }

    @media (max-width: 1024px) {
        .container {
            max-width: 90%;
        }
    }

    @media (max-width: 768px) {
        .container {
            max-width: 100%;
            margin: 0 1rem;
        }
    }

    .card {
        border-radius: 12px;
        padding: 1.5rem;
        background-color: #ffffff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .card-header {
        text-align: center;
        margin-bottom: 1rem;
    }

    .form-group {
        position: relative;
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .form-group label {
        margin-bottom: 0.5rem;
        font-weight: 500;
        color: #4a4a4a;
    }

    .form-control {
        width: 100%;
        padding: 0.75rem 2.5rem 0.75rem 1rem;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
        font-size: 1rem;
    }

    .form-control:focus {
        border-color: #6366f1;
        box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.3);
        outline: none;
    }

    .validation-message {
        font-size: 0.875rem;
        margin-top: 0.25rem;
    }

    .btn {
        padding: 0.75rem 1rem;
        font-size: 1rem;
        font-weight: 500;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #4c51bf;
    }

    .input-wrapper {
        position: relative;
        width: 100%;
    }

    .icon {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>
<script>
    function validatePassword() {
        const password = document.getElementById('id_new_password1').value;
        const confirmPassword = document.getElementById('id_new_password2').value;
        const validationMessages = document.querySelectorAll('.validation-message');

        const validationRules = [
            { regex: /(?=.*[a-z])/, message: "Your password must contain at least one lowercase letter." },
            { regex: /(?=.*[A-Z])/, message: "Your password must contain at least one uppercase letter." },
            { regex: /(?=.*\d)/, message: "Your password must contain at least one number." },
            { regex: /.{8,}/, message: "Your password must contain at least 8 characters." },
            { regex: /^(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/, message: "Your password must contain at least one special character." },
        ];

        validationMessages.forEach(msg => {
            msg.style.color = 'red';
        });

        validationRules.forEach(rule => {
            if (rule.regex.test(password)) {
                document.getElementById(rule.message).style.color = 'green';
            }
        });

        if (password === confirmPassword) {
            document.getElementById('password-confirm-message').style.color = 'green';
        } else {
            document.getElementById('password-confirm-message').style.color = 'red';
        }
    }

    window.onload = function() {
        document.getElementById('id_new_password1').addEventListener('input', validatePassword);
        document.getElementById('id_new_password2').addEventListener('input', validatePassword);

        const togglePasswordVisibility = (inputId) => {
            const input = document.getElementById(inputId);
            const eyeIcon = document.getElementById(`toggle-${inputId}`);
            eyeIcon.addEventListener('click', () => {
                const type = input.type === 'password' ? 'text' : 'password';
                input.type = type;
                eyeIcon.classList.toggle('fa-eye-slash');
            });
        };

        togglePasswordVisibility('id_new_password1');
        togglePasswordVisibility('id_new_password2');
        togglePasswordVisibility('id_old_password');
    };
</script>
<div class="form-content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3 class="font-weight-light text-indigo-700">Change Your Password</h3>
            </div>
            {% if form.errors %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <div id="form_errors">
                        {% for key, value in form.errors.items %}
                            <strong>{{ value }}</strong>
                        {% endfor %}
                    </div>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}

            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_old_password">Old Password</label>
                        <div class="input-wrapper">
                            <input type="password" name="old_password" id="id_old_password" placeholder="Enter Old Password" class="form-control" required>
                            <span id="toggle-id_old_password" class="icon">
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_new_password1">New Password</label>
                        <div class="input-wrapper">
                            <input type="password" name="new_password1" id="id_new_password1" placeholder="Enter New Password" class="form-control" required>
                            <span id="toggle-id_new_password1" class="icon">
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>
                        <ul>
                            <li id="Your password must contain at least one lowercase letter." class="validation-message">Your password must contain at least one lowercase letter.</li>
                            <li id="Your password must contain at least one uppercase letter." class="validation-message">Your password must contain at least one uppercase letter.</li>
                            <li id="Your password must contain at least one number." class="validation-message">Your password must contain at least one number.</li>
                            <li id="Your password must contain at least 8 characters." class="validation-message">Your password must contain at least 8 characters.</li>
                            <li id="Your password must contain at least one special character." class="validation-message">Your password must contain at least one special character.</li>
                        </ul>
                    </div>
                    <div class="form-group">
                        <label for="id_new_password2">New Password Confirmation</label>
                        <div class="input-wrapper">
                            <input type="password" name="new_password2" id="id_new_password2" placeholder="Confirm New Password" class="form-control" required>
                            <span id="toggle-id_new_password2" class="icon">
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>
                        <p id="password-confirm-message" class="validation-message">Your passwords must match.</p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn bg-indigo-600 text-white w-100">Update Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock content %}
